
{% extends 'base.html' %}

{% block title %}Add feedback{% endblock %}

{% block content %}
<section>
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" name="username" value="{{ form.username.value }}">
            </div>
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" value="{{ form.email.value }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Home Page</label>
                <input type="url" class="form-control" name="homepage" value="{{ form.homepage.value }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Text</label>
                <textarea class="form-control" rows="3" name="text">{{ form.text.value }}</textarea>
            </div>
            <div class="mb-3">
                {{ form.captcha }}
            </div>


            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}

            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</section>
{% endblock content %}
